//====================================================================================================

.page {
  display: flex;
  flex: 1 1 auto;

  &__main {
    display: flex;
    flex: 1 1 auto;
  }

}

.main {


  &__container {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
		justify-content: center;
		min-height: 100%;
		height: 0;
  }

  &__board {

    // transform: matrix(0, -1, 1, 0, 0, 0);
    display: grid;

		// @if ()
		max-width: em(1200);
		max-height: em(1200);
		width:  100vmin;
		aspect-ratio: 1/1;
		// min-height: 20%;
    // grid-template: repeat(8, 1fr)/repeat(8, 1fr);
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;

		&.white-turn {
			transform: rotate(180deg);
			&>.square::before {
				transform: rotate(180deg);
			}
		}

		&.black-turn {
			transform: rotate(0deg);
		}
  }

  &__square {
    display: block;
		// aspect-ratio: 1/1;
    min-width: 100%;
		min-height: 100%;
		position: relative;

		&::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
			padding: 10px;
		}
  

	&.pawn.black {
		&::before {
			background: url('../img/figures/Chess_pdt45.svg') center/cover no-repeat;
    }
	}
	&.pawn.white{
		&::before {
		background: url('../img/figures/pawn_white.svg') center/cover no-repeat;
		}
	}
	&.rook.white{
		&::before {
		background: url('../img/figures/rook_white.svg') center/cover no-repeat;
		}
	}
	&.rook.black{
		&::before {
		background: url('../img/figures/rook_black.svg') center/cover no-repeat;
		}
	}
	&.king.white{
		&::before {
		background: url('../img/figures/king_white.svg') center/cover no-repeat;
		}
	}
	&.king.black{
		&::before {
		background: url('../img/figures/king_black.svg') center/cover no-repeat;
		}
	}
	&.queen.white{
		&::before {
		background: url('../img/figures/queen_white.svg') center/cover no-repeat;
		}
	}
	&.queen.black{
		&::before {
		background: url('../img/figures/queen_black.svg') center/cover no-repeat;
		}
	}
	&.bishop.white{
		&::before {
		background: url('../img/figures/bishop_white.svg') center/cover no-repeat;
		}
	}
	&.bishop.black{
		&::before {
		background: url('../img/figures/bishop_black.svg') center/cover no-repeat;
		}
	}
	&.knight.white{
		&::before {
		background: url('../img/figures/knight_white.svg') center/cover no-repeat;
		}
	}
	&.knight.black{
		&::before {
		background: url('../img/figures/knight_black.svg') center/cover no-repeat;
		}
	}
	}
}

.square {

  &__first-color {
    background-color: #08471b;
  }

  &__second-color {
    background-color: #b6bcc2;
  }
}

//====================================================================================================